<script type="text/ng-template" id="views/appHome.html">
<div class="container">
      	<div class="row" style="text-align: center;">
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary">
                		<span class="glyphicon glyphicon glyphicon-user"></span><br/>
                			<h5>User</h5>
            		</button>
            	</p>
        	</div>
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="loadMonitoringGrp();">
                		<span class="glyphicon glyphicon glyphicon-sunglasses"></span><br/>
                			<h5>Monitoring <br/> Group</h5>
            		</button>
            	</p>
        	</div>
       	</div> <!-- End of Row 1 -->
      	<div class="row" style="text-align: center;">
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
          		<p >
            		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="loadServiceManagement();">
                		<span class="glyphicon glyphicon glyphicon-signal"></span><br/>
                			<h5>Service <br/> Management <br/> Group</h5>
            		</button>
            	</p>
        	</div>
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="loadOnGroundVendor();">
                		<span class="glyphicon glyphicon-tags"></span><br/>
                			<h5>On Ground <br/>Vendor</h5>
            		</button>
            	</p>
        	</div>
       	</div> <!-- End of Row 2 -->
</div><!-- Container -->
</script>