<script type="text/ng-template" id="views/monitoringGroupLanding.html">
<div class="container">
      	<div class="row" style="text-align: center;">
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary">
                		<span class="glyphicon glyphicon-eye-open"></span><br/>
                			<h5>Request <br/>Monitoring</h5>
            		</button>
            	</p>
        	</div>
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary" >
                		<span class="glyphicon glyphicon-edit"></span><br/>
                			<h5>Vendor <br/> Management</h5>
            		</button>
            	</p>
        	</div>
       	</div> <!-- End of Row 1 -->
      	<div class="row" style="text-align: center;">
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
          		<p >
            		<button class="btn btn-sq-lg btn-sq btn-primary" >
                		<span class="glyphicon glyphicon-adjust"></span><br/>
                			<h5>Service <br/> Orchestration <br/> Management </h5>
            		</button>
            	</p>
        	</div>
        	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
          		<p>
            		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="loadHome();">
                		<span class="glyphicon glyphicon-home"></span><br/>
                			<h5>Home</h5>
            		</button>
            	</p>
        	</div>
       	</div> <!-- End of Row 2 -->
</div><!-- Container -->

</script>